.social_on {
    width: 30px;
    height: 30px;
  }
      
.social_on svg {
    width: 30px;
    height: 30px;
}

.social_btn {
    width: 30px;
    height: 30px;
  }
      
.social_btn svg {
    width: 30px;
    height: 30px;
}
