.body_all
{
	font-size: 15px;
	width:100%;
	height:100%;
	width: 220px;
	background: #fff;
	font-family: Times, "Times New Roman", serif;
	border: 1px;
	margin: 0px;
	padding: 5px;
	border-style: outset;
}


.social_icon
{
    width: 30px;
    height: 30px;
	border-radius: 10px;
	border: 0px;
	margin: 0px;
	padding: 0px;
}
.share_img
{
    width: 100px;
    height: 100px;
	border-radius: 0px;
	border: 0px;
	margin: 0px;
	padding: 0px;
}
.share_video
{
    width: 200px;
    height: 200px;
	border-radius: 0px;
	border: 0px;
	margin: 0px;
	padding: 0px;
}

.flex-container
{
  display: flex;
  flex-wrap: nowrap;
}

.flex-container > div
{
  width: 200px;
  margin: 10px;
  text-align: center;
  line-height: 25px;  
}



.general_class_btn
{
	padding: 8px 13px;
	background-color: #3b5998;
	color: white;
	border-radius: 1px;
	font-size: 15px;
	border: 1px blue; /* Blue border */
	width: 100%;
}
.general_class_btn:hover {
  background-color: #0e76a8;
}

.authorize_request_class
{
	padding: 8px 13px;
	border-radius: 1px;
	font-size: 10px;
	width: 100%;
}


.meniu-group input {
  background-color: #3b5998; /* Blue background */
  border: 1px blue; /* Blue border */
  color: white; /* White text */
  padding: 8px 13px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  font-size: 15px;
  width: 50%;
  white-space: normal;

  
}

/* Clear floats (clearfix hack) */
.meniu-group:after {
  content: "";
  clear: both;
  display: table;
}

.meniu-group input:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.meniu-group input:hover {
  background-color: #0e76a8;
}



/*Test to insert dropdown checklist for fb/li/tu*/
.dropdown-check-list {
  display: inline-block;
}
.dropdown-check-list .anchor_li {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 5px 50px 5px 10px;
  border: 1px solid #ccc;
}
.dropdown-check-list .anchor_tu {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 5px 50px 5px 10px;
  border: 1px solid #ccc;
}
.dropdown-check-list .anchor_fb {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 5px 50px 5px 10px;
  border: 1px solid #ccc;
}
.dropdown-check-list .anchor_fb:after {
  position: absolute;
  content: "";
  border-left: 2px solid black;
  border-top: 2px solid black;
  padding: 5px;
  right: 10px;
  top: 20%;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.dropdown-check-list .anchor_li:after {
  position: absolute;
  content: "";
  border-left: 2px solid black;
  border-top: 2px solid black;
  padding: 5px;
  right: 10px;
  top: 20%;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.dropdown-check-list .anchor_tu:after {
  position: absolute;
  content: "";
  border-left: 2px solid black;
  border-top: 2px solid black;
  padding: 5px;
  right: 10px;
  top: 20%;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.dropdown-check-list .anchor_li:active:after {
  right: 8px;
  top: 21%;
}
.dropdown-check-list .anchor_tu:active:after {
  right: 8px;
  top: 21%;
}
.dropdown-check-list .anchor_fb:active:after {
  right: 8px;
  top: 21%;
}
.dropdown-check-list ul.items_li {
  padding: 2px;
  display: none;
  margin: 0;
  border: 1px solid #ccc;
  border-top: none;
}
.dropdown-check-list ul.items_li li {
  list-style: none;
}
.dropdown-check-list ul.items_tu {
  padding: 2px;
  display: none;
  margin: 0;
  border: 1px solid #ccc;
  border-top: none;
}
.dropdown-check-list ul.items_tu li {
  list-style: none;
}
.dropdown-check-list ul.items_fb {
  padding: 2px;
  display: none;
  margin: 0;
  border: 1px solid #ccc;
  border-top: none;
}
.dropdown-check-list ul.items_fb li {
  list-style: none;
}