.social_on {
    width: 30px;
    height: 30px;

  }
  body
  .main_div
  .social_on {
    height: 65px;
    border-bottom: 0;

  }
  body * {
      box-sizing: inherit;
  
  }
  body 
  .main_class
  .social.btn{
    height: 65px;
    border-bottom: 0;
  }

